<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">주문 시간</th>
        <th style="border: 1px solid black;">음식</th>
        <th style="border: 1px solid black;">배달 예상 시간</th>
        <th style="border: 1px solid black;">배달 완료 여부</th>
    </tr>
    {% for order in order_list %}
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;">
            {{ order.order_date }}
        </td>
        <td style="border: 1px solid black;">
            {% for food in order.orderfood_set.all %}
                <h5> {{food.food_name}}</h5>
            {% endfor %}
        </td>
        <td style="border: 1px solid black;">
            {% if order.estimated_time == -1 %}
                미정
            {% else %}
                {{order.estimated_time}}
            {% endif %}
        </td>
        <td style="border: 1px solid black;">
            {% if order.deliver_finish == 0 %}
                배송중
            {% else %}
                완료
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>