<form method="post" action="{% url 'order' %}">
    <ol>
        <h4>1. 주문하실 음식을 골라주세요.</h4>
        {% for food in menu %}
        <ul>
            <input type="checkbox" id="food{{ forloop.counter }}" name="food" value="{{ food.food_name }}">
            <label for="{{ food.food_name }}"> {{ food.food_name }}</label><br>
        </ul>
        {% endfor %}
    </ol>
    <ol>
        <h4>2. 집 주소를 입력해주세요.</h4>
        <input type="text" name="address" required>
    </ol>
    <input type="hidden" name="shop" value="{{ id }}">
    <input type="submit" value="주문하기">
</form>